<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="application-name" content="LaundryMaster">
    <meta name="apple-mobile-web-app-title" content="LaundryMaster">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{% block title %}Auth{% endblock %} - LaundryMaster</title>

    <link rel="apple-touch-icon" sizes="180x180" href={{ url_for('static', filename='assets/img/icons/apple-touch-icon.png') }}>
    <link rel="icon" type="image/png" sizes="32x32" href={{ url_for('static', filename='assets/img/icons/favicon-32x32.png') }}>
    <link rel="icon" type="image/png" sizes="16x16" href={{ url_for('static', filename='assets/img/icons/favicon-16x16.png') }}>
    <link rel="manifest" href={{ url_for('static', filename='manifest.json') }}>
    <link rel="mask-icon" href={{ url_for('static', filename='assets/img/icons/safari-pinned-tab.svg') }} color="#5bbad5">
    <link rel="shortcut icon" href={{ url_for('static', filename='assets/img/icons/favicon.ico') }}>
    <meta name="theme-color" content="#224abe">

    <link rel="stylesheet" href={{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css') }}>
    <link rel="manifest" href={{ url_for('static', filename='manifest.json') }}>
    <link rel="stylesheet" href={{ url_for('static', filename='assets/css/Nunito.css') }}>
    <link rel="stylesheet" href={{ url_for('static', filename='/assets/fonts/fontawesome-all.min.css') }}>
</head>

<body class="bg-gradient-primary">
<div class="container" style="max-width: 500px;">
    <div class="container">
        <div class="card shadow-lg o-hidden border-0 my-5 p-5">
            <div class="card-header bg-white text-white">
                <div class="text-center">
                    <div class="text-primary h4 mb-4 fw-bolder px-2">LaundryMaster</div>
                    <img class="fas fa-laugh-wink pb-3 h-50" src="static/assets/img/icons/icon-android-homescreen.png"
                         alt="logo">
                </div>
            </div>
            <div class="card-body">
                <div class="text-center">
                    {% block message %}{% endblock %}
                </div>
                    <div>
                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                {% for category, message in messages %}
                                    {% if category == 'success' %}
                                        <div class="alert alert-success" role="alert">
                                            {{ message }}
                                        </div>
                                    {% elif category == 'warning' %}
                                        <div class="alert alert-warning" role="alert">
                                            {{ message }}
                                        </div>
                                    {% elif category == 'error' %}
                                        <div class="alert alert-danger" role="alert">
                                            {{ message }}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </div>
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
    <script src="static/assets/js/jquery.min.js"></script>
    <script src="static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/assets/js/bs-init.js"></script>
    <script src="static/assets/js/theme.js"></script>
</div>
</body>

</html>