{% extends "admin/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="d-sm-flex justify-content-between align-items-center mb-4">
            <h3 class="text-dark mb-0">Dashboard</h3>
        </div>
        <div class="row">
            <div class="col-xl-3 mb-4">
                <div class="card shadow border-start-success py-2 h-100">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters h-100">
                            <div class="col me-2">
                                <div class="text-uppercase text-danger fw-bold text-xs mb-1">
                                    <span>Unpaid Cycles For All Users</span></div>
                                <div class="text-dark fw-bold h5 mb-0"><span>{{ unpaid_cycles_cost }} lv.</span></div>
                            </div>
                            <div class="col-auto"><i class="fas fa-hand-holding-usd fa-2x text-gray-300"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7 col-xl-8">
                <div class="card shadow mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h6 class="text-danger fw-bold m-0">Users Usage Of Washing Machine</h6>
                        <div class="dropdown no-arrow" style="padding-top: 2vh; padding-bottom: 2vh">
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas data-bss-chart='{
                                "type": "horizontalBar",
                                "data": {{ users_usage_stats }},
                                "options":{
                                    "maintainAspectRatio": false,
                                    "responsive": true,
                                    "legend":{
                                        "display": true,
                                        "labels":{
                                            "fontStyle":"normal"
                                        }
                                    },
                                    "title":{
                                        "fontStyle":"normal"
                                    },
                                    "scales":{
                                        "xAxes": [
                                            {
                                                "gridLines":{
                                                    "color":"rgb(234, 236, 244)",
                                                    "zeroLineColor":"rgb(234, 236, 244)",
                                                    "drawBorder":false,
                                                    "drawTicks":false,
                                                    "borderDash":[
                                                        "2"
                                                    ],
                                                    "zeroLineBorderDash":[
                                                        "2"
                                                    ],
                                                    "drawOnChartArea":false
                                                },
                                                "ticks":{
                                                    "fontColor":"#858796",
                                                    "fontStyle":"normal",
                                                    "padding":20,
                                                    "beginAtZero": true
                                                }
                                            }
                                        ],
                                        "yAxes": [
                                            {
                                                "gridLines":{
                                                    "color":"rgb(234, 236, 244)",
                                                    "zeroLineColor":"rgb(234, 236, 244)",
                                                    "drawBorder":false,
                                                    "drawTicks":false,
                                                    "borderDash": [
                                                        "2"
                                                    ],
                                                    "zeroLineBorderDash": [
                                                        "2"
                                                    ]
                                                },
                                                "ticks":{
                                                    "fontColor":"#858796",
                                                    "fontStyle":"normal",
                                                    "padding":20
                                                }
                                            }
                                        ]
                                    }
                                }
                            }'></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}