{% extends "admin/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="d-sm-flex justify-content-between align-items-center mb-4">
            <h3 class="text-dark mb-0">Dashboard</h3>
        </div>
        <div class="row">
            <div class="col-xl-3 mb-4">
                <div class="card shadow border-start-success py-2 h-100">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters h-100">
                            <div class="col me-2">
                                <div class="text-uppercase text-danger fw-bold text-xs mb-1">
                                    <span>Unpaid Cycles For All Users</span></div>
                                <div class="text-dark fw-bold h5 mb-0"><span>{{ unpaid_cycles_cost }} lv.</span></div>
                            </div>
                            <div class="col-auto"><i class="fas fa-hand-holding-usd fa-2x text-gray-300"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-l-5 col-xl-6">
                <div class="card shadow mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h6 class="text-danger fw-bold m-0">Users Usage Of Washing Machine</h6>
                        <div class="dropdown no-arrow" style="padding-top: 2vh; padding-bottom: 2vh">
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas data-bss-chart='{"type":"horizontalBar","data":{{ users_usage_stats }},"options":{"maintainAspectRatio":false,"responsive":true,"legend":{"display":true,"labels":{"fontStyle":"normal"}},"title":{"fontStyle":"normal"},"scales":{"xAxes":[{"gridLines":{"color":"rgb(234, 236, 244)","zeroLineColor":"rgb(234, 236, 244)","drawBorder":false,"drawTicks":false,"borderDash":["2"],"zeroLineBorderDash":["2"],"drawOnChartArea":false},"ticks":{"fontColor":"#858796","fontStyle":"normal","padding":20,"beginAtZero":true}}],"yAxes":[{"gridLines":{"color":"rgb(234, 236, 244)","zeroLineColor":"rgb(234, 236, 244)","drawBorder":false,"drawTicks":false,"borderDash":["2"],"zeroLineBorderDash":["2"]},"ticks":{"fontColor":"#858796","fontStyle":"normal","padding":20}}]}}}'></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-l-3 col-xl-3">
                <div class="card shadow mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h6 class="text-danger fw-bold m-0">Update Washing Machine Parameters</h6>
                        <div class="dropdown no-arrow" style="padding-top: 2vh; padding-bottom: 2vh">
                        </div>
                    </div>
                    <div class="card-body">
                        <form method="POST">
                            {{ update_wm_form.csrf_token }}
                            <div class="mb-3">
                                <label class="form-label" for="costperkwh">
                                    <strong>Cost of kWh in Leva</strong>
                                </label>
                                {{ update_wm_form.costperkwh(class="form-control") }}
                                <div class="form-text">Changing this value would start recalculation of all unpaid cycles.</div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="public_wash_cost">
                                    <strong>Cost of washing in public laundry</strong>
                                </label>
                                {{ update_wm_form.public_wash_cost(class="form-control") }}
                                <div class="form-text">Value used for savings statistic.</div>
                            </div>
                            <div class="d-flex justify-content-center mb-3">
                                {{ update_wm_form.terminate_notification_task(value="Terminate Notification Task", class="btn btn-warning text-wrap") }}
                            </div>
                            <div class="d-flex justify-content-end mt-3">
                                {{ update_wm_form.update_washing_machine_submit(class="btn btn-danger") }}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col col-l-2 col-xl-3 col-auto">
                <div class="card shadow mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h6 class="text-danger fw-bold m-0">Washing Machine Status</h6>
                        <div class="dropdown no-arrow" style="padding-top: 2vh; padding-bottom: 2vh">
                        </div>
                    </div>
                    <div class="card-body">
                        <img class="float-start imgshadow me-2 rounded-2" src="{{ url_for('static', filename='assets/img/washing-machine.png') }}" alt="Washing Machine">
                        <div class="d-flex justify-content-between mb-2">
                            <label class="fw-bold">Washing Machine State:</label>
                            {{ candy_washing_machine.machine_state.label }}
                        </div>
                        <div class="d-flex justify-content-between mb-2">
                            <label class="fw-bold">Program State:</label>
                            {{ candy_washing_machine.program_state.label }}
                        </div>
                        <div class="d-flex justify-content-between mb-2">
                            <label class="fw-bold">Remaining:</label>
                            {{ candy_washing_machine.remaining_minutes }} min
                        </div>
                        <div class="d-flex justify-content-between mb-2">
                            <label class="fw-bold">Temperature:</label>
                            {{ candy_washing_machine.temp }} °C
                        </div>
                        <div class="d-flex justify-content-between mb-2">
                            <label class="fw-bold">Spin Speed:</label>
                            {{ candy_washing_machine.spin_speed }}
                        </div>
                        <div class="d-flex justify-content-between mb-2">
                            <label class="fw-bold">WiFi Control:</label>
                            {% if candy_washing_machine.remote_control %}
                                <i class="fa fa-wifi text-success"></i>
                            {% else %}
                                <i class="fa fa-wifi text-danger"></i>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}