{% extends "admin/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="d-sm-flex justify-content-between align-items-center mb-4">
            <h3 class="text-dark mb-0">Dashboard</h3>
        </div>
        <div class="row">
            <div class="col-xl-3 mb-4">
                <div class="card shadow border-start-success py-2 h-100">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters h-100">
                            <div class="col me-2">
                                <div class="text-uppercase text-danger fw-bold text-xs mb-1">
                                    <span>Unpaid Cycles For All Users</span></div>
                                <div class="text-dark fw-bold h5 mb-0"><span>{{ unpaid_cycles_cost }} lv.</span></div>
                            </div>
                            <div class="col-auto"><i class="fas fa-hand-holding-usd fa-2x text-gray-300"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 mb-4">
                <div class="card shadow border-start-success py-2 h-100">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters h-100">
                            <div class="col me-2">
                                <div class="text-uppercase text-success fw-bold text-xs mb-1">
                                    <span>Total kWh Consumed (monthly)</span></div>
                                <div class="text-dark fw-bold h5 mb-0"><span>{{ total_energy_usage }}</span></div>
                            </div>
                            <div class="col-auto"><i class="fas fa-bolt fa-2x text-gray-300"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-auto mb-4">
                <div class="card shadow border-start-success py-2 h-100">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters h-100">
                            <div class="text-uppercase text-info fw-bold text-xs mb-1">
                                <span>Platform Settings</span>
                            </div>
                            <form method="POST" class="d-flex flex-column flex-md-row gap-3">
                                <style>
                                    .form-switch .form-check-input:focus {
                                        border-color: rgba(0, 0, 0, 0.25);
                                        outline: 0;
                                        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
                                        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(0,0,0,0.25)'/></svg>");
                                    }
                                    .form-switch .form-check-input:checked {
                                        background-color: #ff6b56;
                                        border: none #ff6b56;
                                        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255,255,255,1.0)'/></svg>");
                                    }
                                </style>
                                {{ admin_settings.csrf_token }}
                                {{ admin_settings.admin_settings_submit(class_="d-none") }}
                                <div class="form-check form-switch">
                                    {{ admin_settings.kill_switch(class_="form-check-input", onchange="document.getElementById('admin-settings-submit').click();") }}
                                    <label class="form-label mb-0" for="name">
                                        <strong>Global Kill Switch</strong>
                                    </label>
                                </div>
                                <div class="form-check form-switch">
                                    {{ admin_settings.require_scheduling(class_="form-check-input", onchange="document.getElementById('admin-settings-submit').click();") }}
                                    <label class="form-label mb-0" for="name">
                                        <strong>Require scheduling</strong>
                                    </label>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-l-5 col-xl-6">
                <div class="card shadow mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h6 class="text-danger fw-bold m-0">Users Usage Of Washing Machine</h6>
                        <div class="dropdown no-arrow" style="padding-top: 2vh; padding-bottom: 2vh">
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas data-bss-chart='{"type":"horizontalBar","data":{{ users_usage_stats }},"options":{"maintainAspectRatio":false,"responsive":true,"legend":{"display":true,"labels":{"fontStyle":"normal"}},"title":{"fontStyle":"normal"},"scales":{"xAxes":[{"gridLines":{"color":"rgb(234, 236, 244)","zeroLineColor":"rgb(234, 236, 244)","drawBorder":false,"drawTicks":false,"borderDash":["2"],"zeroLineBorderDash":["2"],"drawOnChartArea":false},"ticks":{"fontColor":"#858796","fontStyle":"normal","padding":20,"beginAtZero":true}}],"yAxes":[{"gridLines":{"color":"rgb(234, 236, 244)","zeroLineColor":"rgb(234, 236, 244)","drawBorder":false,"drawTicks":false,"borderDash":["2"],"zeroLineBorderDash":["2"]},"ticks":{"fontColor":"#858796","fontStyle":"normal","padding":20}}]}}}'></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-l-3 col-xl-3">
                <div class="card shadow mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h6 class="text-danger fw-bold m-0">Update Washing Machine Parameters</h6>
                        <div class="dropdown no-arrow" style="padding-top: 2vh; padding-bottom: 2vh">
                        </div>
                    </div>
                    <div class="card-body">
                        <form method="POST">
                            {{ update_wm_form.csrf_token }}
                            <div class="mb-3">
                                <label class="form-label" for="costperkwh">
                                    <strong>Cost of kWh in Leva</strong>
                                </label>
                                {{ update_wm_form.costperkwh(class="form-control") }}
                                <div class="form-text">
                                    <span class="text-danger">Warning!!!</span>
                                    Changing this value would start recalculation of all unpaid cycles.
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="public_wash_cost">
                                    <strong>Cost of washing in public laundry</strong>
                                </label>
                                {{ update_wm_form.public_wash_cost(class="form-control") }}
                                <div class="form-text">Value used for savings statistic.</div>
                            </div>
                            <div class="d-flex justify-content-center mb-3">
                                {{ update_wm_form.cancel_recalculation_unpaid_cycles(value="Cancel Recalculation Of Cost", class="btn btn-warning text-light text-wrap") }}
                            </div>
                            <div class="d-flex justify-content-center mb-3">
                                {{ update_wm_form.terminate_notification_task(value="Terminate Notification Task", class="btn btn-warning text-light text-wrap") }}
                            </div>
                            <div class="d-flex justify-content-end mt-3">
                                {{ update_wm_form.update_washing_machine_submit(class="btn btn-danger") }}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col col-l-3 col-xl-3">
                <div class="col">
                    <div class="card shadow mb-4">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h6 class="text-danger fw-bold m-0">Washing Machine Status</h6>
                            <div class="dropdown no-arrow" style="padding-top: 2vh; padding-bottom: 2vh">
                            </div>
                        </div>
                        <div class="d-flex {% if relay_is_on %} d-lg-block flex-column {% else %} flex-row align-items-center {% endif %} justify-content-center card-body">
                            <img class="mb-2 mb-lg-0 align-self-center float-none float-lg-start imgshadow me-2 rounded-2" src="{{ url_for('static', filename='assets/img/washing-machine.png') }}" alt="Washing Machine">
                            {% if relay_is_on %}
                                <div class="d-flex justify-content-between mb-2">
                                    <label class="fw-bold">Washing Machine State:</label>
                                    <span id="candy-machine-state"></span>
                                </div>
                                <div class="d-flex justify-content-between mb-2">
                                    <label class="fw-bold">Program:</label>
                                    <span id="candy-program-name"></span>
                                </div>
                                <div class="d-flex justify-content-between mb-2">
                                    <label class="fw-bold">Program State:</label>
                                    <span id="candy-program-state"></span>
                                </div>
                                <div class="d-flex justify-content-between mb-2">
                                    <label class="fw-bold">Remaining:</label>
                                    <div><span id="candy-remaining-minutes"></span> min</div>
                                </div>
                                <div class="d-flex justify-content-between mb-2">
                                    <label class="fw-bold">Temperature:</label>
                                    <div><span id="candy-washing-temp"></span> °C</div>
                                </div>
                                <div class="d-flex justify-content-between mb-2">
                                    <label class="fw-bold">Spin Speed:</label>
                                    <span id="candy-spin-speed"></span>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <label class="fw-bold">WiFi Control:</label>
                                    <div id="candy-remote-control"></div>
                                </div>
                            {% else %}
                                <div class="text-center">
                                    Turn Washing Machine <span class="text-success fw-bolder">on</span> to see machine details
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    {% if relay_is_on %}
                        <script type="module">
                            import { getCandy } from "{{ url_for('static', filename='assets/js/websockets.js') }}";
                            const candyInfoWS = getCandy();
                            candyInfoWS.onmessage = (event) => {
                                const newData = JSON.parse(event.data);
                                document.getElementById('candy-machine-state').textContent = newData['machine_state']['label'];
                                document.getElementById('candy-program-name').textContent = newData['program_name'];
                                document.getElementById('candy-program-state').textContent = newData['program_state']['label'];
                                document.getElementById('candy-remaining-minutes').textContent = newData['remaining_minutes'];
                                document.getElementById('candy-washing-temp').textContent = newData['temp'];
                                document.getElementById('candy-spin-speed').textContent = newData['spin_speed'];
                                if(newData['remote_control']) {
                                    document.getElementById('candy-remote-control').innerHTML = '<i class="fa fa-wifi text-success"></i>';
                                }
                                else {
                                    document.getElementById('candy-remote-control').innerHTML = '<i class="fa fa-wifi text-danger"></i>';
                                }
                            };
                        </script>
                    {% endif %}
                    <div class="card shadow mb-4">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h6 class="text-danger fw-bold m-0">Relay Control</h6>
                            <div class="dropdown no-arrow" style="padding-top: 2vh; padding-bottom: 2vh">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="d-flex justify-content-around">
                                {% if relay_is_on %}
                                    <p class="text fw-bold m-0 align-self-center">Status: On</p>
                                    <button class="btn btn-danger text-light" onclick="window.location.href='./?relay=off'">
                                        <i class="fas fa-power-off"></i>
                                    </button>
                                {% else %}
                                    <p class="text fw-bold m-0 align-self-center">Status: Off</p>
                                    <button class="btn btn-success text-light" onclick="window.location.href='./?relay=on'">
                                        <i class="fas fa-power-off"></i>
                                    </button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow border-start-primary py-2">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class="text-uppercase text-danger fw-bold text-xs mb-1">
                                    <span>Current Usage</span>
                                </div>
                                <div class="text-dark fw-bold h5 mb-0">
                                    <span id="current-usage">{{ current_usage }}</span>
                                    <span>W</span>
                                </div>
                            </div>
                            <div class="col-auto"><i class="fas fa-plug fa-2x text-gray-300"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow border-start-warning py-2">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class="text-uppercase text-warning fw-bold text-xs mb-1">
                                    <span>Time Elapsed</span>
                                </div>
                                <div class="text-dark fw-bold h5 mb-0">
                                    <span id="time-elapsed">{{ stopwatch }}</span>
                                </div>
                            </div>
                            <div class="col-auto"><i class="fas fa-clock fa-2x text-gray-300"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow border-start-warning py-2">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class="text-uppercase text-danger-emphasis fw-bold text-xs mb-1">
                                    <span>Relay Temperature</span>
                                </div>
                                <div class="text-dark fw-bold h5 mb-0">
                                    <span id="relay-temperature">{{ relay_temperature }}</span>
                                    <span>°C</span>
                                </div>
                            </div>
                            <div class="col-auto"><i class="fas fa-thermometer-half fa-2x text-gray-300"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow border-start-warning py-2">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class="text-uppercase text-primary fw-bold text-xs mb-1">
                                    <span>Relay Wi-Fi RSSI</span>
                                </div>
                                <div class="text-dark fw-bold h5 mb-0">
                                    <span id="relay-wifi-rssi">{{ relay_wifi_rssi }}</span>
                                    <span>dBm</span>
                                </div>
                            </div>
                            <div class="col-auto"><i class="fas fa-wifi fa-2x text-gray-300"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <script type="module">
                import { getWS } from "{{ url_for('static', filename='assets/js/websockets.js') }}";
                const washingMachineInfoWS = getWS();
                washingMachineInfoWS.onmessage = (event) => {
                    const newData = JSON.parse(event.data);
                    document.getElementById('current-usage').textContent = newData['current_usage'];
                    document.getElementById('time-elapsed').textContent = newData['running_time'];
                    document.getElementById('relay-temperature').textContent = newData['relay_temperature'];
                    document.getElementById('relay-wifi-rssi').textContent = newData['relay_wifi_rssi'];
                };
            </script>
        </div>
    </div>
{% endblock %}