<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="application-name" content="LaundryMaster">
    <meta name="apple-mobile-web-app-title" content="LaundryMaster">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{% block title %}Auth{% endblock %} - LaundryMaster</title>

    <link rel="apple-touch-icon" sizes="180x180" href={{ url_for('static', filename='assets/img/icons/apple-touch-icon.png') }}>
    <link rel="icon" type="image/png" sizes="32x32" href={{ url_for('static', filename='assets/img/icons/favicon-32x32.png') }}>
    <link rel="icon" type="image/png" sizes="16x16" href={{ url_for('static', filename='assets/img/icons/favicon-16x16.png') }}>
    <link rel="manifest" href={{ url_for('static', filename='manifest.json') }}>
    <link rel="mask-icon" href={{ url_for('static', filename='assets/img/icons/safari-pinned-tab.svg') }} color="#5bbad5">
    <link rel="shortcut icon" href={{ url_for('static', filename='assets/img/icons/favicon.ico') }}>
    <meta name="theme-color" content="#224abe">

    <link rel="stylesheet" href={{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css') }}>
    <link rel="manifest" href={{ url_for('static', filename='manifest.json') }}>
    <link rel="stylesheet" href={{ url_for('static', filename='assets/css/Nunito.css') }}>
    <link rel="stylesheet" href={{ url_for('static', filename='/assets/fonts/fontawesome-all.min.css') }}>
    <link rel="stylesheet" href={{ url_for('static', filename='/assets/css/untitled.css') }}>
</head>

<body class="bg-gradient-primary">
<div class="container" style="max-width: 500px;">
    <div class="card shadow-lg o-hidden border-0 my-5">
        <div class="p-5">
            <div class="text-center">
                <img class="fas fa-laugh-wink pb-3 h-50" src="static/assets/img/icons/icon-android-homescreen.png"
                     alt="logo">
                {% block message %}{% endblock %}
            </div>
            {% if form.errors %}
                <ul class="errors">
                    {% for error in form.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

                <div>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                {% if category == 'message' %}
                                    <div class="alert alert-warning" role="alert">
                                {% else %}
                                    <div class="alert alert-{{ category }}" role="alert">
                                {% endif %}
                                {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
    <script src="static/assets/js/jquery.min.js"></script>
    <script src="static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/assets/js/bs-init.js"></script>
    <script src="static/assets/js/theme.js"></script>
</div>
</body>

</html>