{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="d-sm-flex justify-content-between align-items-center mb-4">
            <h3 class="text-dark mb-0">Dashboard</h3>
        </div>
        <div class="row">
            <div class="col-md-5 col-xl-auto mb-4">
                <div class="row">
                    <div class="col mb-4">
                        <div class="card shadow border-start-primary py-2">
                            <div class="card-body d-flex flex-wrap gap-3">
                {#              <label class="px-3 d-none d-md-inline-block">Washing</label>#}
                                <img class="w-auto rounded-2 align-self-center mx-auto" src="{{ url_for('static', filename='assets/img/washing-machine.png') }}" alt="washing machine icon">
                                <div class="d-flex flex-column gap-3 m-auto">
                                    {% if cycle_data['state'] == 'unavailable' %}
                                        <div>
                                            <p class="text-warning text-center text-break m-0">Washing Machine is busy!</p>
                                            <p class="text-warning text-center text-break m-0">{{ cycle_data['user'] }} is using it 😊</p>
                                        </div>
                                    {% else %}
                                    <form method="POST" class="w-auto align-self-center mx-auto">
                                        {% if cycle_data['state'] == 'running' %}
                                            <button type="submit" name="stop_cycle" class="btn btn-danger">
                                                <i class="fas fa-solid fa-stop"></i>
                                                Terminate Cycle
                                            </button>
                                        {% elif cycle_data['state'] == 'available' %}
                                            <button type="submit" name="start_cycle" class="btn text-light btn-success">
                                                <i class="fas fa-solid fa-play"></i>
                                                Start cycle
                                            </button>
                                        {% endif %}
                                    </form>
                                    {% endif %}
                                    {% if cycle_data['state'] == 'available' %}
                                        <form method="POST" class="w-auto align-self-center mx-auto">
                                            <button type="submit" name="release_door" class="btn text-light btn-info">
                                                <i class="fas fa-solid fa-lock-open"></i>
                                                Open door
                                            </button>
                                        </form>
                                    {% endif %}
                                    {% if cycle_data['state'] == 'running' %}
                                        <div class="d-flex gap-2 m-auto">
                                            <i class="fas fa-clock fa-2x text-warning"></i>
                                            <span id="time-elapsed" class="align-self-center text-warning fw-bold">
                                                Expected end: {{ expected_end }}
                                            </span>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md col-xl">
                <div class="row">
                    <div class="col-xl-3 mb-4">
                        <div class="card shadow border-start-primary py-2 h-100">
                            <div class="card-body">
                                <div class="row align-items-center no-gutters h-100">
                                    <div class="col me-2">
                                        <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span>Total Cost Of Washing (Monthly)</span>
                                        </div>
                                        <div class="text-dark fw-bold h5 mb-0"><span>{{ total_cost }} lv.</span></div>
                                    </div>
                                    <div class="col-auto"><i class="fas fa-dollar-sign fa-2x text-gray-300"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 mb-4">
                        <div class="card shadow border-start-success py-2 h-100">
                            <div class="card-body">
                                <div class="row align-items-center no-gutters h-100">
                                    <div class="col me-2">
                                        <div class="text-uppercase text-success fw-bold text-xs mb-1">
                                            <span>Used kWh (monthly)</span></div>
                                        <div class="text-dark fw-bold h5 mb-0"><span>{{ total_energy_usage }}</span></div>
                                    </div>
                                    <div class="col-auto"><i class="fas fa-bolt fa-2x text-gray-300"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 mb-4">
                        <div class="card shadow border-start-success py-2 h-100">
                            <div class="card-body">
                                <div class="row align-items-center no-gutters h-100">
                                    <div class="col me-2">
                                        <div class="text-uppercase text-danger fw-bold text-xs mb-1">
                                            <span>Unpaid Cycles Total</span></div>
                                        <div class="text-dark fw-bold h5 mb-0"><span>{{ unpaid_cycles_cost }} lv.</span></div>
                                    </div>
                                    <div class="col-auto"><i class="fas fa-hand-holding-usd fa-2x text-gray-300"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 mb-4">
                        <div class="card shadow border-start-success py-2 h-100">
                            <div class="card-body">
                                <div class="row align-items-center no-gutters h-100">
                                    <div class="col me-2">
                                        <div class="text-uppercase text-info fw-bold text-xs mb-1">
                                            <span>Saved From Public Washers (Monthly)</span></div>
                                        <div class="text-dark fw-bold h5 mb-0"><span>{{ savings }} lv.</span></div>
                                    </div>
                                    <div class="col-auto"><i class="fas fa-piggy-bank fa-2x text-gray-300"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-7 col-xl-8">
                <div class="card shadow mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h6 class="text-primary fw-bold m-0">Monthly Cost Statistics</h6>

                        <div class="dropdown no-arrow" style="padding-top: 2vh; padding-bottom: 2vh">

                        </div>
                    </div>
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas data-bss-chart='{"type":"line","data":{"labels":{{ statistics_labels }},"datasets":[{"label":"Total Monthly Cost","fill":true,"data":{{ statistics_data }},"backgroundColor":"rgba(78,115,223,0.05)","borderColor":"rgba(78,115,223,1)"}]},"options":{"maintainAspectRatio":false,"legend":{"display":false,"labels":{"fontStyle":"normal"}},"title":{"fontStyle":"normal"},"scales":{"xAxes":[{"gridLines":{"color":"rgb(234,236,244)","zeroLineColor":"rgb(234,236,244)","drawBorder":false,"drawTicks":false,"borderDash":["2"],"zeroLineBorderDash":["2"],"drawOnChartArea":false},"ticks":{"fontColor":"#858796","fontStyle":"normal","padding":20}}],"yAxes":[{"gridLines":{"color":"rgb(234,236,244)","zeroLineColor":"rgb(234,236,244)","drawBorder":false,"drawTicks":false,"borderDash":["2"],"zeroLineBorderDash":["2"]},"ticks":{"fontColor":"#858796","fontStyle":"normal","padding":20}}]}}}'></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-xl-4">
                {% if unpaid_cycles %}
                <div class="card shadow mb-4">
                    <form method="POST">
                    {{ unpaid_cycles_form.csrf_token }}
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h6 class="text-primary fw-bold m-0">Unpaid Cycles</h6>
                            <button class="btn" id="unpaid-submit" name="unpaid-submit" value="unpaid-submit" aria-expanded="false" type="submit">
                                <i class="fas fa-paper-plane text-success fa-bold"></i>
                            </button>
                    </div>
                    <ul class="list-group list-group-flush overflow-auto" style="max-height: 36vh;">
                        {% for i in range(unpaid_cycles|length) %}
                        <li class="list-group-item">
                            <div class="row align-items-center no-gutters">
                                <div class="col me-2">
                                    <h6 class="mb-1">
                                        <strong>
                                            {% if unpaid_cycles[i].split_cost %}
                                                <span class="text-info">Split</span> Cycle for {{ unpaid_cycles[i].split_cost }}
                                            {% else %}
                                                Cycle for {{ unpaid_cycles[i].cost }}
                                            {% endif %}
                                             lv.
                                        </strong>
                                    </h6>
                                    <span class="text-xs">
                                        Started: {{ unpaid_cycles[i].start_timestamp_formatted }} <br>
                                        Ended: {{ unpaid_cycles[i].end_timestamp_formatted }}
                                    </span>
                                </div>
                                <div class="col-auto">
                                    <div class="form-check">
{#                                        <input class="form-check-input" type="checkbox" id={{ unpaid_cycles[i].id }} onclick="console.log('helop')">#}
                                        {{ unpaid_cycles_form.checkboxes[i](class_="form-check-input", id=unpaid_cycles[i].id, title='Mark as paid') }}
                                    </div>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                    </form>
                </div>
                {% endif %}
             </div>
        </div>
    </div>
{% endblock %}