<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login - Brand</title>
    <link rel="icon" type="image/png" sizes="16x16" href="static/assets/img/icons/favicon.png">
    <link rel="icon" type="image/png" sizes="32x31" href="static/assets/img/icons/favicon32.png">
    <link rel="icon" type="image/png" sizes="180x176" href="static/assets/img/icons/icon-ios-homescreen.png">
    <link rel="icon" type="image/png" sizes="192x188" href="static/assets/img/icons/icon-android-homescreen.png">
    <link rel="icon" type="image/png" sizes="512x500" href="static/assets/img/icons/icon-android-splashscreen.png">
    <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="manifest" href="static/manifest.json">
    <link rel="stylesheet" href="static/assets/css/Nunito.css">
    <link rel="stylesheet" href="static/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="static/assets/css/untitled.css">
</head>

<body class="bg-gradient-primary">
    <div class="container" style="max-width: 500px;">
        <div class="card shadow-lg o-hidden border-0 my-5">
            <div class="p-5">
                <div class="text-center">
                    <h4 class="text-dark mb-4">Welcome Back!</h4>
                </div>
                <form class="user" method="POST">
                    <div class="mb-3"><input class="form-control form-control-user" type="email" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter Email Address..." name="email"></div>
                    <div class="mb-3"><input class="form-control form-control-user" type="password" id="exampleInputPassword" placeholder="Password" name="password"></div>
                    <div class="mb-3">
                        <div class="custom-control custom-checkbox small">
                            <div class="form-check"><input class="form-check-input custom-control-input" type="checkbox" id="formCheck-1"><label class="form-check-label custom-control-label" for="formCheck-1">Remember Me</label></div>
                        </div>
                    </div><button class="btn btn-primary d-block btn-user w-100" type="submit">Login</button>
                    <hr><a class="btn btn-primary d-block btn-google btn-user w-100 mb-2" role="button"><i class="fab fa-google"></i>&nbsp; Login with Google</a><a class="btn btn-primary d-block btn-facebook btn-user w-100" role="button"><i class="fab fa-facebook-f"></i>&nbsp; Login with Facebook</a>
                    <hr>
                </form>
                <div class="text-center"><a class="small" href="forgot-password.html">Forgot Password?</a></div>
                <div class="text-center"></div>
            </div>
        </div>
    </div>
    <script src="static/assets/js/jquery.min.js"></script>
    <script src="static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/assets/js/bs-init.js"></script>
    <script src="static/assets/js/theme.js"></script>
</body>

</html>