{% extends "base_auth.html" %}

{% block title %}Login{% endblock %}

{% block message %}
    <h4 class="text-dark mb-4">Please enter your email!</h4>
{% endblock %}

{% block content %}
    <form class="user" method="POST">

        {{ form.csrf_token }}
        {% if form.email %}
            <div class="mb-3">
                {{ form.email(class_="form-control form-control-user", placeholder="Email...") }}
            </div>
        {% else %}
            <div class="mb-3">
                {{ form.password(class_="form-control form-control-user", placeholder="Password...") }}
            </div>
            <div class="mb-3">
                {{ form.password_confirm(class_="form-control form-control-user", placeholder="Confirm password...") }}
            </div>
        {% endif %}
        {{ form.submit(class_="btn btn-primary d-block btn-user w-100", value="Send email!") }}
    </form>
{% endblock %}