{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
    <div class="container-fluid">
        <h3 class="text-dark mb-4">Profile</h3>
        <div class="row mb-3">
            <div class="col-xxl-5 col-xl-6 col-lg-8">
                <div class="row">
                    <div class="col">
                        <div class="card shadow mb-3">
                            <div class="card-header py-3">
                                <p class="text-primary m-0 fw-bold">Profile Settings</p>
                            </div>
                            <div class="card-body">
                                <div class="messages">
                                    {% with messages = get_flashed_messages(with_categories=true) %}
                                        {% if messages %}
                                            {% for category, message in messages %}
                                                {% if category == 'profile' %}
                                                    <div class="alert alert-warning" role="alert">
                                                        {{ message }}
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    {% endwith %}
                                </div>
                                <div class="validation_errors">
                                    {% for error in edit_form.errors %}
                                        {% for message in edit_form[error].errors %}
                                            <ul class="alert alert-danger px-5">
                                                <li>{{ message }}</li>
                                            </ul>
                                        {% endfor %}
                                    {% endfor %}
                                </div>
                                <form method="POST">
                                    {{ edit_form.csrf_token(id="edit-csrf-token") }}
                                    <div class="col">
                                        <div class="col">
                                            <div class="mb-3">
                                                <label class="form-label" for="name">
                                                    <strong>Name</strong>
                                                </label>
                                                {{ edit_form.first_name(class_="form-control") }}
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="mb-3">
                                                <label class="form-label" for="email">
                                                    <strong>Email</strong>
                                                </label>
                                                {{ edit_form.email(class_="form-control", **{'autocomplete': 'off'}) }}
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="mb-3">
                                                <label class="form-label" for="username">
                                                    <strong>Username</strong>
                                                </label>
                                                {{ edit_form.username(class_="form-control", **{'autocomplete': 'off'}) }}
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="mb-3">
                                                <label class="form-label" for="password">
                                                    <strong>Password</strong>
                                                </label>
                                                {{ edit_form.password(class_="form-control", **{'autocomplete': 'new-password'}) }}
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="mb-3">
                                                <label class="form-label" for="password_confirm">
                                                    <strong>Confirm Password</strong>
                                                </label>
                                                {{ edit_form.password_confirm(class_="form-control", **{'autocomplete': 'new-password'}) }}
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="mb-3">
                                                {{ edit_form.profile_submit(class_="btn btn-primary") }}
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="card shadow"></div>
                    </div>
                    <div class="col">
                        <div class="card shadow mb-3">
                            <div class="card-header py-3">
                                <p class="text-primary m-0 fw-bold">User Settings</p>
                            </div>
                            <div class="card-body">
                                <div class="messages">
                                    {% with messages = get_flashed_messages(with_categories=true) %}
                                        {% if messages %}
                                            {% for category, message in messages %}
                                                {% if category == 'settings' %}
                                                    <div class="alert alert-warning" role="alert">
                                                        {{ message }}
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    {% endwith %}
                                </div>
                                <div class="validation_errors">
                                    {% for error in settings_form.errors %}
                                        {% for message in settings_form[error].errors %}
                                            <ul class="alert alert-danger px-5">
                                                <li>{{ message }}</li>
                                            </ul>
                                        {% endfor %}
                                    {% endfor %}
                                </div>
                                <form method="POST" id="settings_form">
                                    {{ settings_form.csrf_token(id="settings-csrf-token") }}
                                    {{ settings_form.settings_submit(class_="d-none") }}
                                    <div class="col">
                                        <div class="col">
                                            <div class="mb-3 form-check form-switch">
                                                {{ settings_form.automatic_stop(class_="form-check-input", onchange="document.getElementById('settings-submit').click();") }}
                                                <label class="form-label" for="name">
                                                    <strong>Automatic Cycle Stop</strong>
                                                </label>
                                            </div>
                                            <div class="mb-3 form-check form-switch">
                                                {{ settings_form.automatic_open_candy(class_="form-check-input", onchange="document.getElementById('settings-submit').click();") }}
                                                <label class="form-label" for="name">
                                                    <strong>Launch simpli-Fi on cycle start</strong>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="card shadow"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}