{% extends "base.html" %}

{% block title %}Usage{% endblock %}

{% block content %}

<div class="container-fluid">
    <h3 class="text-dark mb-4">Detailed Usage View</h3>
    <div class="card shadow">
        <div class="card-header py-3 d-flex justify-content-between align-items-center">
            <p class="text-primary m-0 fw-bold">Washing Cycles Info</p>
            <a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="?items=all&print=1" target="_blank">
                <i class="fas fa-download fa-sm text-white-50"></i>
                &nbsp;Generate Report
            </a>
            {% if request.args.get('print') %}
                      <script type="text/javascript">
                         window.onafterprint = window.close;
                         window.print();
                      </script>
            {% endif %}
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 text-nowrap">
                    <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable">
                        <label class="form-label">Show&nbsp
                            <span class="form-group d-inline-block">
                                {{ select_form.items(id="showCountSelect", class="form-control form-select form-select-sm") }}
                            </span>
                        </label>
                    </div>
                </div>

                <script>
                    // JavaScript code to automatically select the label based on the URL parameter
                    document.getElementById("showCountSelect").addEventListener("change", function() {
                        // Update the URL with the selected option as a query parameter
                        const currentURL = new URL(window.location.href);
                        currentURL.searchParams.set("items", this.value);
                        window.location.href = currentURL.toString();
                    });
                </script>
            <!--
                <div class="col-md-6">
                    <div class="text-md-end dataTables_filter" id="dataTable_filter"><label class="form-label"><input type="search" class="form-control form-control-sm" aria-controls="dataTable" placeholder="Search"></label></div>
                </div>
                -->
            </div>
            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                <table class="table my-0" id="dataTable">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Used kWh</th>
                            <th>Start</th>
                            <th>End</th>
                            <th>Duration</th>
                            <th>Cost</th>
                            <th>Paid</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for usage in usages %}
                            <tr>
                                <td {% if usage.split_cost %} class="text-info fw-bold" {% endif %}>{{ usage.id }}</td>
                                <td {% if usage.split_cost %} class="text-info fw-bold" {% endif %}>{{ usage.usedkwh }}</td>
                                <td {% if usage.split_cost %} class="text-info fw-bold" {% endif %}>{{ usage.start_timestamp_formatted }}</td>
                                <td {% if usage.split_cost %} class="text-info fw-bold" {% endif %}>{{ usage.end_timestamp_formatted }}</td>
                                <td {% if usage.split_cost %} class="text-info fw-bold" {% endif %}>{{ usage.duration }}</td>
                                <td {% if usage.split_cost %} class="text-info fw-bold" {% endif %}>
                                    {% if usage.split_cost %}
                                        {{ usage.split_cost }} lv.
                                    {% else %}
                                        {{ usage.cost }} lv.
                                    {% endif %}
                                </td>
                                <td>
                                    {% if usage.split_paid or usage.paid %}
                                        <i class="fa fa-check text-success fw-bold"></i>
                                    {% else %}
                                        <i class="fa fa-times text-danger fw-bold"></i>
                                    {% endif %}
                                </td>
                                {% if usage.user_id == current_user.id %}
                                    <td>
                                        <button class="btn btn-outline-primary" type="button" title="Split"
                                                data-bs-toggle="modal" data-bs-target="#splitCycleModal"
                                                data-bs-cycle-id="{{ usage.id }}" data-bs-cycle-cost="{{ usage.cost }}"
                                                onclick="">
                                            <i class="fas fa-solid fa-chart-pie"></i>
                                        </button>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td><strong>ID</strong></td>
                            <td><strong>Used kWh</strong></td>
                            <td><strong>Start</strong></td>
                            <td><strong>End</strong></td>
                            <td><strong>Duration</strong></td>
                            <td><strong>Cost</strong></td>
                            <th>Paid</th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
<!---
{# Pagination - maybe someday #}
            <div class="row">
                <div class="col-md-6 align-self-center">
                    <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Showing 1 to 10 of 27</p>
                </div>
                <div class="col-md-6">
                    <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                        <ul class="pagination">
                            <li class="page-item disabled"><a class="page-link" aria-label="Previous" href="#"><span aria-hidden="true">«</span></a></li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" aria-label="Next" href="#"><span aria-hidden="true">»</span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
-->
        </div>
    </div>
</div>

<div class="modal fade" id="splitCycleModal" tabindex="-1" aria-labelledby="splitCycleModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Split Cycle</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="POST">
                {{ split_cycle_form.csrf_token }}
                {{ split_cycle_form.cycle_id(id="split-form-cycle-id", hidden=True) }}
                <div class="modal-body">
                    <div class="mb-3">
                        <div class="col-form-label">With which users do you want to split this cycle?</div>
                        {{ split_cycle_form.other_users(class_="form-select") }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    {{ split_cycle_form.submit(class_="btn btn-success text-light", value="Split") }}
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    const splitCycleModal = document.getElementById('splitCycleModal')
    splitCycleModal.addEventListener('show.bs.modal', event => {
      // Button that triggered the modal
      const button = event.relatedTarget
      // Extract info from data-bs-* attributes
      const cycleID = button.getAttribute('data-bs-cycle-id')
      //const cycleCost = button.getAttribute('data-bs-cycle-cost')

      const modalCycleID = splitCycleModal.querySelector('#split-form-cycle-id')

      modalCycleID.value = cycleID
    })
</script>
{% endblock %}