{% extends "base.html" %}

{% block title %}Usage{% endblock %}

{% block content %}

<div class="container-fluid">
    <h3 class="text-dark mb-4">Detailed Usage View</h3>
    <div class="card shadow">
        <div class="card-header py-3 d-flex justify-content-between align-items-center">
            <p class="text-primary m-0 fw-bold">Washing Cycles Info</p>
            <a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="?items=all&print=1" target="_blank">
                <i class="fas fa-download fa-sm text-white-50"></i>
                &nbsp;Generate Report
            </a>
            {% if request.args.get('print') %}
                      <script type="text/javascript">
                         window.onafterprint = window.close;
                         window.print();
                      </script>
            {% endif %}
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 text-nowrap">
                    <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable">
                        <label class="form-label">Show&nbsp
                            <!--<select class="d-inline-block form-select form-select-sm">
                                <option value="10" selected="">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>&nbsp;-->
                            <span class="form-group d-inline-block">
                                {{ select_form.items(id="showCountSelect", class="form-control form-select form-select-sm") }}
                            </span>
                        </label>
                    </div>
                </div>
            <!--
                <div class="col-md-6">
                    <div class="text-md-end dataTables_filter" id="dataTable_filter"><label class="form-label"><input type="search" class="form-control form-control-sm" aria-controls="dataTable" placeholder="Search"></label></div>
                </div>
                -->
            </div>
            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                <table class="table my-0" id="dataTable">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Start kWh</th>
                            <th>End kWh</th>
                            <th>Used kWh</th>
                            <th>Start</th>
                            <th>End</th>
                            <th>Duration</th>
                            <th>Cost</th>
                            <th>Paid</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for usage in usages %}
                        <tr>
                            <td>{{ usage.id }}</td>
                            <td>{{ usage.startkwh }}</td>
                            <td>{{ usage.endkwh }}</td>
                            <td>{{ usage.usedkwh }}</td>
                            <td>{{ usage.start_timestamp_formatted }}</td>
                            <td>{{ usage.end_timestamp_formatted }}</td>
                            <td>{{ usage.duration }}</td>
                            <td>{{ usage.cost }} lv.</td>
                            {% if usage.paid %}
                            <td><i class="fa fa-check"></i></td>
                            {% else %}
                            <td><i class="fa fa-times"></i></td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td><strong>ID</strong></td>
                            <td><strong>Start kWh</strong></td>
                            <td><strong>End kWh</strong></td>
                            <td><strong>Used kWh</strong></td>
                            <td><strong>Start</strong></td>
                            <td><strong>End</strong></td>
                            <td><strong>Duration</strong></td>
                            <td><strong>Cost</strong></td>
                            <th>Paid</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
<!---
            <div class="row">
                <div class="col-md-6 align-self-center">
                    <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Showing 1 to 10 of 27</p>
                </div>
                <div class="col-md-6">
                    <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                        <ul class="pagination">
                            <li class="page-item disabled"><a class="page-link" aria-label="Previous" href="#"><span aria-hidden="true">«</span></a></li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" aria-label="Next" href="#"><span aria-hidden="true">»</span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
-->
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='assets/js/usage_items_count.js') }}"></script>
{% endblock %}