{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="d-sm-flex justify-content-between align-items-center mb-4">
            <h3 class="text-dark mb-0">Washing Machine Info</h3>
        </div>

        <div class="row">
            <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow border-start-primary py-2">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class="text-uppercase text-danger fw-bold text-xs mb-1">
                                    <span>Current Usage</span>
                                </div>
                                <div class="text-dark fw-bold h5 mb-0">
                                    <span id="current-usage">{{ current_usage }}</span>
                                    <span>W</span>
                                </div>
                            </div>
                            <div class="col-auto"><i class="fas fa-plug fa-2x text-gray-300"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow border-start-warning py-2">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class="text-uppercase text-warning fw-bold text-xs mb-1">
                                    <span>Time Elapsed</span>
                                </div>
                                <div class="text-dark fw-bold h5 mb-0">
                                    <span id="time-elapsed">{{ stopwatch }}</span>
                                </div>
                            </div>
                            <div class="col-auto"><i class="fas fa-clock fa-2x text-gray-300"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow border-start-warning py-2">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class="text-uppercase text-danger-emphasis fw-bold text-xs mb-1">
                                    <span>Relay Temperature</span>
                                </div>
                                <div class="text-dark fw-bold h5 mb-0">
                                    <span id="relay-temperature">{{ relay_temperature }}</span>
                                    <span>°C</span>
                                </div>
                            </div>
                            <div class="col-auto"><i class="fas fa-thermometer-half fa-2x text-gray-300"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow border-start-warning py-2">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class="text-uppercase text-primary fw-bold text-xs mb-1">
                                    <span>Relay Wi-Fi RSSI</span>
                                </div>
                                <div class="text-dark fw-bold h5 mb-0">
                                    <span id="relay-wifi-rssi">{{ relay_wifi_rssi }}</span>
                                    <span>dBm</span>
                                </div>
                            </div>
                            <div class="col-auto"><i class="fas fa-wifi fa-2x text-gray-300"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <script type="module">
                import { washingMachineInfoWS } from "{{ url_for('static', filename='assets/js/websockets.js') }}";
                washingMachineInfoWS.onmessage = (event) => {
                    const newData = JSON.parse(event.data);
                    document.getElementById('current-usage').textContent = newData['current_usage'];
                    document.getElementById('time-elapsed').textContent = newData['running_time'];
                    document.getElementById('relay-temperature').textContent = newData['relay_temperature'];
                    document.getElementById('relay-wifi-rssi').textContent = newData['relay_wifi_rssi'];
                };
            </script>
        </div>
        <div class="row">
            <div class="col-auto">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="text-primary fw-bold m-0">Washing Machine App</h6>
                    </div>
                    <div class="card-body d-flex flex-column">
                        <h6 class="text-danger">Credentials</h6>
                        <p class="mb-0">{{ candy_user }}</p>
                        <p>{{ candy_password }}</p>
                        <a href="https://play.google.com/store/apps/details?id=it.candy.simplyfi&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1" target="_blank">
                            <img style=" height: 5rem;" alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png'/>
                        </a>
                        <a href="https://apps.apple.com/us/app/candy-simply-fi/id905270470"  target="_blank">
                            <img class="p-2" style=" height: 5em;" alt='Get it on Google Play' src={{ url_for('static', filename='assets/img/app-store.svg') }}/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-auto">
               <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="text-primary fw-bold m-0">Washing Machine User Manual</h6>
                    </div>
                    <div class="card-body d-flex flex-column">
                        <a href="https://d15v10x8t3bz3x.cloudfront.net/Libretti/2020/6/15924626/43032490%20wd%20rapido%20nel%20bghrslsr" target="_blank">
                            Click!
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-auto">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="text-primary fw-bold m-0">Washing Machine Excel Invoice</h6>
                    </div>
                    <div class="card-body d-flex flex-column">
                        <a href="https://1drv.ms/x/s!An6sucpf9Evjym2ajOkK027jX4jj" target="_blank">
                            Click!
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}